<!DOCTYPE html>
<html>
<head>
  <title>Bulk Email Form</title>
</head>
<body>
  <h1>Bulk Email Form</h1>
  <form action="/bulk-emails" method="post">
    <textarea name="emails" rows="10" cols="50" placeholder="Enter email addresses"></textarea><br>
    <button type="submit">Save Emails</button>
  </form>
</body>
</html>
